<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Google+Sans:ital,opsz,wght@0,17">
<title>Titan</title>
</head>
<body>

<h1>TITAN AI</h1>

<input id="message" placeholder="Ask Titan something">
<button onclick="send()">Send</button>

<textarea id="response" class="chatresponse" ></textarea>

<script>
function send() {
  console.log("Button has been pressed")
  let msg = document.getElementById("message").value;

  fetch("/chat", {
    console.log("AI response is being fetched")
    method: "POST",
    headers: {
      "Content-Type": "application/x-www-form-urlencoded"
    },
    body: "message=" + msg
  })
  .then(response => response.text())
  .then(data => {
    const responseDiv = document.getElementById("respons>

    const question = document.createElement("p");
    console.log("Addin user prompt to <p>")
    question.innerText = msg + "\n\n\n";
    question.classList.add("question");
    responseDiv.appendChild(question);

    const answer = document.createElement("p");
    console.log("Adding AI response to <p>")
    answer.innerText = `${data}` + "\n\n";
    answer.classList.add("answer");
    responseDiv.appendChild(answer);
  });
}
</script>

</body>
</html>
